In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dogs_expenses_modified_bis.csv')

In [3]:
# changes on longevity data
longevity_dict = {
    'affenpinscher': 12,
    'afghan hound': 12,
    'airedale terrier': 11,
    'akita': 10,
    'alaskan malamute': 12,
    'american english coonhound': 11,
    'anatolian shepherd dog': 11,
    'australian cattle dog': 12,
    'australian shepherd': 12,
    'australian terrier': 12,
    'basenji': 13,
    'basset hound': 12,
    'beagle': 12,
    'bearded collie': 12,
    'bedlington terrier': 14,
    'belgian tervuren': 12,
    'bernese mountain dog': 7,
    'bloodhound': 10,
    'border collie': 12,
    'border terrier': 13,
    'borzoi': 10,
    'boston terrier': 13,
    'bouvier des flandres': 12,
    'boxer': 10,
    'briard': 11,
    'brittany': 12,
    'brussels griffon': 12,
    'bull terrier': 12,
    'bullmastiff': 8,
    'cairn terrier': 14,
    'canaan dog': 12,
    'cardigan welsh corgi': 12,
    'cavalier king charles spaniel': 12,
    'cesky terrier': 12,
    'chesapeake bay retriever': 10,
    'chihuahua': 15,
    'chinese crested': 12,
    'chow chow': 12,
    'clumber spaniel': 10,
    'cocker spaniel': 12,
    'curly coated retriever': 12,
    'dachshund': 14,
    'dandie dinmont terrier': 13,
    'doberman pinscher': 10,
    'english setter': 12,
    'english springer spaniel': 12,
    'english toy spaniel': 13,
    'english toy terrier': 13,
    'field spaniel': 12,
    'finnish lapphund': 12,
    'flatcoated retriever': 10,
    'french bulldog': 11,
    'german pinscher': 12,
    'german shepherd': 10,
    'german shorthaired pointer': 12,
    'german wirehaired pointer': 12,
    'giant schnauzer': 12,
    'glen of imaal terrier': 13,
    'golden retriever': 10,
    'gordon setter': 12,
    'great dane': 7,
    'great pyrenees': 10,
    'greater swiss mountain dog': 10,
    'greyhound': 12,
    'havanese': 14,
    'irish red and white setter': 12,
    'irish setter': 12,
    'irish terrier': 13,
    'irish water spaniel': 12,
    'irish wolfhound': 7,
    'italian greyhound': 14,
    'italian spinone': 12,
    'japanese chin': 12,
    'kerry blue terrier': 12,
    'king charles spaniel': 13,
    'komondor': 10,
    'labrador retriever': 12,
    'leonberger': 7,
    'maltese': 15,
    'manchester terrier': 14,
    'mastiff': 7,
    'miniature bull terrier': 12,
    'miniature schnauzer': 14,
    'newfoundland': 9,
    'norfolk terrier': 14,
    'norwegian buhund': 13,
    'nova scotia duck tolling retriever': 12,
    'old english sheepdog': 10,
    'otterhound': 10,
    'papillon': 14,
    'pekingese': 14,
    'pembroke welsh corgi': 12,
    'petit basset griffon vendeen': 14,
    'pharaoh hound': 12,
    'pointer': 12,
    'polish lowland sheepdog': 13,
    'pomeranian': 14,
    'portuguese water dog': 12,
    'pug': 12,
    'rhodesian ridgeback': 10,
    'rottweiler': 9,
    'saint bernard': 8,
    'saluki': 12,
    'samoyed': 12,
    'scottish deerhound': 8,
    'scottish terrier': 12,
    'sealyham terrier': 12,
    'shetland sheepdog': 13,
    'shih tzu': 14,
    'siberian husky': 12,
    'silky terrier': 12,
    'skye terrier': 12,
    'smooth fox terrier': 13,
    'softcoated wheaten terrier': 13,
    'spinone italiano': 12,
    'staffordshire bull terrier': 12,
    'sussex spaniel': 12,
    'swedish vallhund': 13,
    'tibetan mastiff': 10,
    'vizsla': 12,
    'welsh springer spaniel': 12,
    'west highland white terrier': 13,
    'whippet': 12,
    'wire fox terrier': 12,
    'wirehaired pointing griffon': 12,
    'yorkshire terrier': 12
}

In [4]:
df['longevity'] = df['Breed'].map(longevity_dict)

In [5]:
pd.set_option('display.max_columns', None)
df[df['Breed'] == 'yorkshire terrier'].head()

,Breed,lifetime_cost,longevity,food_cost_year,grooming_required,size_category,weight_kg,shoulder_height_cm,intelligence_category,genetic_ailments,category,sensitivity_level,tolerates_being_alone,tolerates_cold_weather,tolerates_hot_weather,incredibly_kifriendly_dogs,dog_friendly,friendly_towarstrangers,potential_for_mouthiness,prey_drive,tendency_to_bark_or_howl,wanderlust_potential,exercise_needs,energy_level,gender,age
189000,yorkshire terrier,20.701,12.0,324.0,1,small,2.0,50.616852,4,"knee, liver, trachea, eye disorders",Companion Dogs,3,1,2,2,2,3,2,4,2,4,3,2,3,Male,8
189001,yorkshire terrier,20.701,12.0,324.0,1,small,2.0,50.616852,4,"knee, liver, trachea, eye disorders",Companion Dogs,3,1,2,2,4,3,3,4,2,4,3,2,3,Male,8
189002,yorkshire terrier,20.701,12.0,324.0,1,small,2.0,50.616852,4,"knee, liver, trachea, eye disorders",Companion Dogs,3,1,2,2,5,3,2,4,2,4,3,2,3,Male,10
189003,yorkshire terrier,20.701,12.0,324.0,1,small,2.0,50.616852,4,"knee, liver, trachea, eye disorders",Companion Dogs,3,1,2,2,5,3,5,4,2,4,3,2,3,Female,4
189004,yorkshire terrier,20.701,12.0,324.0,1,small,2.0,50.616852,4,"knee, liver, trachea, eye disorders",Companion Dogs,3,1,2,2,2,3,2,4,2,4,3,2,3,Male,6

In [6]:
# Replace the values of intelligence for some breed
df.loc[df['Breed'] == 'wire fox terrier', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'vizsla', 'intelligence_category'] = 5
df.loc[df['Breed'] == 'affenpinscher', 'intelligence_category'] = 4
df.loc[df['Breed'] == 'akita', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'alaskan malamute', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'australian cattle dog', 'intelligence_category'] = 6
df.loc[df['Breed'] == 'australian shepherd', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'basenji', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'basset hound', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'beagle', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'bernese mountain dog', 'intelligence_category'] = 5 
df.loc[df['Breed'] == 'bloodhound', 'intelligence_category'] = 1 
df.loc[df['Breed'] == 'border collie', 'intelligence_category'] = 6
df.loc[df['Breed'] == 'borzoi', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'boston terrier', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'boxer', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'brussels griffon', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'bull terrier', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'bullmastiff', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'canaan dog', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'cardigan welsh corgi', 'intelligence_category'] = 5
df.loc[df['Breed'] == 'cavalier king charles spaniel', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'cesky terrier', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'chihuahua', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'chinese crested', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'chow chow', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'clumber spaniel', 'intelligence_category'] = 4
df.loc[df['Breed'] == 'cocker spaniel', 'intelligence_category'] = 5
df.loc[df['Breed'] == 'curly coated retriever', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'dandie dinmont terrier', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'doberman pinscher', 'intelligence_category'] = 6
df.loc[df['Breed'] == 'english springer spaniel', 'intelligence_category'] = 5
df.loc[df['Breed'] == 'english toy spaniel', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'flatcoated retriever', 'intelligence_category'] = 5
df.loc[df['Breed'] == 'french bulldog', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'german shepherd', 'intelligence_category'] = 6
df.loc[df['Breed'] == 'german wirehaired pointer', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'giant schnauzer', 'intelligence_category'] = 4
df.loc[df['Breed'] == 'golden retriever', 'intelligence_category'] = 6
df.loc[df['Breed'] == 'great dane', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'great pyrenees', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'irish setter', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'irish terrier', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'irish water spaniel', 'intelligence_category'] = 5
df.loc[df['Breed'] == 'italian greyhound', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'italian spinone', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'japanese chin', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'king charles spaniel', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'komodor', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'labrador retriever', 'intelligence_category'] = 6
df.loc[df['Breed'] == 'maltese', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'mastiff', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'miniature schnauzer', 'intelligence_category'] = 5
df.loc[df['Breed'] == 'newfoundland', 'intelligence_category'] = 4
df.loc[df['Breed'] == 'norfolk terrier', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'nova scotia duck tolling retriever', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'old english sheepdog', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'papillon', 'intelligence_category'] = 6
df.loc[df['Breed'] == 'pekingese', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'petit basset griffon vendeen', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'pharaoh hound', 'intelligence_category'] = 4
df.loc[df['Breed'] == 'pointer', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'polish lowland sheepdog', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'pomeranian', 'intelligence_category'] = 5
df.loc[df['Breed'] == 'portuguese water dog', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'rottweiler', 'intelligence_category'] = 6
df.loc[df['Breed'] == 'saint bernard', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'scottish terrier', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'sealyham terrier', 'intelligence_category'] = 2
df.loc[df['Breed'] == 'shetland sheepdog', 'intelligence_category'] = 6
df.loc[df['Breed'] == 'shih tzu', 'intelligence_category'] = 1
df.loc[df['Breed'] == 'silky terrier', 'intelligence_category'] = 4
df.loc[df['Breed'] == 'skye terrier', 'intelligence_category'] = 4
df.loc[df['Breed'] == 'smooth fox terrier', 'intelligence_category'] = 3
df.loc[df['Breed'] == 'swedish vallhund', 'intelligence_category'] = 3

In [7]:
#replace name
df['Breed'] = df['Breed'].replace('softcoated wheaten terrier', 'soft coated wheaten terrier')

In [8]:
pd.set_option('display.max_rows', None)
unique_ailments = df['genetic_ailments'].unique()
print(unique_ailments)

['none' 'eye, nerve, heart problems' 'heart problems' 'hip problems'
 'hip problems, dwarfism' 'deafness, hip problems'
 'kidney, eye problems, anaemia' 'blood, skin disorders'
 'liver, eye problems' 'epilepsy, eye problems'
 'meningitis, elbow  hip problems, complex immune disorder'
 'fatal stomach bloat, skin problems' 'eye problems, deafness'
 'heart problems, zinc metabolism disorder' 'eye, hip problems'
 'lion jaw, heart problems' 'heart, spinal problems' 'knee problems'
 'eye, skin problems' 'skin, spinal problems'
 'heart, spine, blood clotting disorders'
 'hip, eye, skin problems, enzyme deficiency'
 'nerves, pancreas, blood (hemophilia), hip joints'
 'elbows, hips, eyes, heart' 'no data'
 'heart, spinal, hip problems, fatal stomach bloat'
 'blood vessel disorders' 'hip, eye problems' 'heart, liver, hips'
 'elbows, hips, eyes' 'hip, heart problems' 'liver, sinus problems'
 'hip problems, heart defects'
 'cataracts, hair loss, heart, eye, blood clotting disorders'
 'cataracts  other eye problems, connective tissue, nerves, kidneys, spine, blood clotting disorders'
 'dry eye' 'birth defects, hip problems' 'heart, elbow, hip problems'
 'heart, hip disorders, fatal stomach bloat' 'blood clotting disorder'
 'eye problems, deafness, skin  heart problems, blood clotting disorders'
 'eye problems' 'lion jaw, dry eye, skin problems'
 'knee, liver, trachea, eye disorders']

In [9]:
df['genetic_ailments'] = df['genetic_ailments'].replace('no data', 'hips, elbows, eyes, dental') # no data for Gordon setter replaced with hip problems
#unique_ailments = df['genetic_ailments'].unique()
#ailment_mapping = {ailment: idx for idx, ailment in enumerate(unique_ailments)}
#df['ailment_numeric'] = df['genetic_ailments'].map(ailment_mapping)

In [10]:
pd.set_option('display.max_rows', None)
unique_ailments = df['genetic_ailments'].unique()
print(unique_ailments)

['none' 'eye, nerve, heart problems' 'heart problems' 'hip problems'
 'hip problems, dwarfism' 'deafness, hip problems'
 'kidney, eye problems, anaemia' 'blood, skin disorders'
 'liver, eye problems' 'epilepsy, eye problems'
 'meningitis, elbow  hip problems, complex immune disorder'
 'fatal stomach bloat, skin problems' 'eye problems, deafness'
 'heart problems, zinc metabolism disorder' 'eye, hip problems'
 'lion jaw, heart problems' 'heart, spinal problems' 'knee problems'
 'eye, skin problems' 'skin, spinal problems'
 'heart, spine, blood clotting disorders'
 'hip, eye, skin problems, enzyme deficiency'
 'nerves, pancreas, blood (hemophilia), hip joints'
 'elbows, hips, eyes, heart' 'hips, elbows, eyes, dental'
 'heart, spinal, hip problems, fatal stomach bloat'
 'blood vessel disorders' 'hip, eye problems' 'heart, liver, hips'
 'elbows, hips, eyes' 'hip, heart problems' 'liver, sinus problems'
 'hip problems, heart defects'
 'cataracts, hair loss, heart, eye, blood clotting disorders'
 'cataracts  other eye problems, connective tissue, nerves, kidneys, spine, blood clotting disorders'
 'dry eye' 'birth defects, hip problems' 'heart, elbow, hip problems'
 'heart, hip disorders, fatal stomach bloat' 'blood clotting disorder'
 'eye problems, deafness, skin  heart problems, blood clotting disorders'
 'eye problems' 'lion jaw, dry eye, skin problems'
 'knee, liver, trachea, eye disorders']

In [11]:
# add column 'ailments_count' with the number of ailments per breed
def count_ailments(ailment):
    if ailment == 'none':
        return 0
    else:
        return len(ailment.split(', '))
    
df['ailments_count'] = df['genetic_ailments'].apply(count_ailments)

In [12]:
df.describe()

,lifetime_cost,longevity,food_cost_year,grooming_required,weight_kg,shoulder_height_cm,intelligence_category,sensitivity_level,tolerates_being_alone,tolerates_cold_weather,tolerates_hot_weather,incredibly_kifriendly_dogs,dog_friendly,friendly_towarstrangers,potential_for_mouthiness,prey_drive,tendency_to_bark_or_howl,wanderlust_potential,exercise_needs,energy_level,age,ailments_count
count,190500.000000,189000.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000,190500.000000
mean,19.398352,11.730159,447.626385,1.842514,17.316306,49.145010,3.236220,3.346457,2.259843,3.047244,2.842520,3.989517,3.732283,3.515328,3.086614,3.425197,2.929134,3.259843,3.685039,3.645669,8.639711,2.055039
std,2.534512,1.644682,133.643584,0.385256,12.622669,14.892593,1.354243,0.537976,0.535550,0.859028,0.607374,0.866716,0.817612,1.011735,0.803769,0.874124,0.700745,0.834425,0.820035,0.778933,3.930122,1.281652
min,12.653000,7.000000,1.217000,1.000000,2.000000,13.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.000000
25%,18.486046,11.000000,434.359054,2.000000,12.365305,36.000000,2.000000,3.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,5.000000,1.000000
50%,18.486046,12.000000,440.518803,2.000000,13.444187,50.616852,3.000000,3.000000,2.000000,3.000000,3.000000,4.000000,4.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,8.000000,2.000000
75%,20.976000,12.000000,466.000000,2.000000,17.000000,62.000000,4.000000,4.000000,3.000000,4.000000,3.000000,5.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,11.000000,3.000000
max,26.686000,15.000000,971.000000,3.000000,79.000000,81.000000,6.000000,5.000000,4.000000,5.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,21.000000,6.000000

In [13]:
# create vet_cost per year variable (238 euros per pure breed, 209 for mixed breeds)
df['vet_cost'] = 238
df.loc[df['Breed'].isin(['mix small', 'mix medium', 'mix large']), 'vet_cost'] = 209
df.head()

,Breed,lifetime_cost,longevity,food_cost_year,grooming_required,size_category,weight_kg,shoulder_height_cm,intelligence_category,genetic_ailments,category,sensitivity_level,tolerates_being_alone,tolerates_cold_weather,tolerates_hot_weather,incredibly_kifriendly_dogs,dog_friendly,friendly_towarstrangers,potential_for_mouthiness,prey_drive,tendency_to_bark_or_howl,wanderlust_potential,exercise_needs,energy_level,gender,age,ailments_count,vet_cost
0,affenpinscher,18.333,12.0,324.0,2,small,13.444187,26.0,4,none,Companion Dogs,3,2,2,3,3,2,3,2,3,4,3,3,3,Male,13,0,238
1,affenpinscher,18.333,12.0,324.0,2,small,13.444187,26.0,4,none,Companion Dogs,3,2,2,3,3,2,3,2,3,4,3,3,3,Female,13,0,238
2,affenpinscher,18.333,12.0,324.0,2,small,13.444187,26.0,4,none,Companion Dogs,3,2,2,3,3,2,3,2,3,4,3,3,3,Female,5,0,238
3,affenpinscher,18.333,12.0,324.0,2,small,13.444187,26.0,4,none,Companion Dogs,3,2,2,3,3,2,3,2,3,4,3,3,3,Male,13,0,238
4,affenpinscher,18.333,12.0,324.0,2,small,13.444187,26.0,4,none,Companion Dogs,3,2,2,3,3,2,3,2,3,4,3,3,3,Male,5,0,238

In [14]:
columns_to_drop = [
    'lifetime_cost',
    'food_cost_year',
    'weight_kg',
    'shoulder_height_cm']

df.drop(columns=columns_to_drop, inplace=True)

In [15]:
# create food cost per year variable based on size (monthly: 30, 60, 90)
food_cost_mapping = {
    'small': 360,
    'medium': 720,
    'large': 1080
}
df['food_cost'] = df['size_category'].map(food_cost_mapping)

In [16]:
# add to the food cost, the cost of accesories per year based on size (76, 152, 228)
additional_accesories_cost_map ={
    'small': 76,
    'medium': 152,
    'large': 228
}
df['food_cost'] += df['size_category'].map(additional_accesories_cost_map)

In [17]:
df.loc[df['grooming_required'] == 4, 'food_cost'] += 250
df.loc[df['grooming_required'] == 5, 'food_cost'] += 500

In [18]:
# calculate the avg longevity per size (excluding mixed breeds)
filtered_df = df[~df['Breed'].isin(['mix_small', 'mix_medium', 'mix_large'])] # ~ (is not in)
avg_longevity_per_size = filtered_df.groupby('size_category')['longevity'].mean().reset_index()
avg_longevity_per_size

  size_category  longevity
0         large  10.354167
1        medium  12.030389
2         small  12.977588

In [19]:
# replace longevity for mixed breeds
avg_longevity_dict = avg_longevity_per_size.set_index('size_category')['longevity'].to_dict() #creates dict for mapping
df.loc[df['Breed'] == 'mix small', 'longevity'] = avg_longevity_dict['small'] #assign avg longevity to mixed breeds based on size
df.loc[df['Breed'] == 'mix medium', 'longevity'] = avg_longevity_dict['medium']
df.loc[df['Breed'] == 'mix large', 'longevity'] = avg_longevity_dict['large']

In [20]:
df['longevity'] = df['longevity'].round(1)

In [21]:
df['Breed'] = df['Breed'].replace({'flatcoated retriever': 'flat coated retriever', 'doberman pinscher': 'dobermann', 'labrador retriever': 'labrador'})

In [22]:
# modify genetic ailments per breed
genetic_ailments = {
    'affenpinscher': ['hips'],
    'australian terrier': ['patella'],
    'basenji': ['kidney', 'eyes'],
    'bedlington terrier': ['none'],
    'border terrier': ['none'],
    'boston terrier': ['hips', 'spine', 'allergies'],
    'brussels griffon': ['hips'],
    'cairn terrier': ['heart'],
    'cavalier king charles spaniel': ['hips', 'spine', 'heart'],
    'cesky terrier': ['eyes'],
    'chihuahua': ['none'],
    'chinese crested': ['heart'],
    'dachshund': ['spine', 'heart', 'thyroid'],
    'dandie dinmont terrier': ['none'],
    'english toy spaniel': ['eyes', 'patella'],
    'english toy terrier': ['dental'],
    'glen of imaal terrier': ['eyes', 'hips', 'elbows', 'spine'],
    'havanese': ['hips', 'spine', 'dental', 'thyroid'],
    'italian greyhound': ['thyroid', 'eyes', 'dental'],
    'japanese chin': ['eyes', 'patella', 'heart'],
    'kerry blue terrier': ['spine'],
    'king charles spaniel': ['hips', 'heart', 'spine'],
    'maltese': ['hips'],
    'manchester terrier': ['dental'],
    'miniature schnauzer': ['none'],
    'miniature bull terrier': ['eyes', 'heart'],
    'norfolk terrier': ['hips', 'heart'],
    'papillon': ['eyes'],
    'pekingese': ['hips'],
    'petit basset griffon vendeen': ['none'],
    'pomeranian': ['hips', 'patella', 'thyroid', 'spine'],
    'pug': ['hips', 'neurological', 'spine', 'elbows', 'breathing', 'thyroid'],
    'scottish terrier': ['thyroid', 'hips', 'allergies'],
    'sealyham terrier': ['eyes'],
    'shetland sheepdog': ['thyroid', 'spine', 'dental', 'heart'],
    'shih tzu': ['hips', 'elbows', 'dental', 'allergies'],
    'silky terrier': ['none'],
    'skye terrier': ['elbows', 'patella'],
    'smooth fox terrier': ['hips'],
    'west highland white terrier': ['hips', 'osteopathy', 'allergies'],
    'wire fox terrier': ['spine', 'allergies'],
    'yorkshire terrier': ['patella', 'spine', 'thyroid'],
    'australian cattle dog': ['hips', 'elbows', 'eyes', 'dental'],
    'australian shepherd': ['spine'],
    'basset hound': ['hips', 'elbows', 'bloat'],
    'beagle': ['hips', 'bleeding'],
    'brittany': ['hips', 'thyroid'],
    'border collie': ['hips', 'spine'],
    'bull terrier': ['hips', 'heart'],
    'cardigan welsh corgi': ['hips', 'spine'],
    'cocker spaniel': ['allergies'],
    'finnish lapphund': ['hips'],
    'french bulldog': ['hips', 'dental', 'spine', 'breathing'],
    'german pinscher': ['thyroid'],
    'irish terrier': ['none'],
    'norwegian buhund': ['eyes'],
    'pembroke welsh corgi': ['hips', 'spine', 'heart'],
    'polish lowland sheepdog': ['hips', 'eyes'],
    'siberian husky': ['none'],
    'soft coated wheaten terrier': ['spine', 'neurological'],
    'staffordshire bull terrier': ['hips', 'elbows'],
    'swedish vallhund': ['eyes', 'hips'],
    'whippet': ['heart', 'thyroid'],
    'airedale terrier': ['hips', 'thyroid'],
    'bearded collie': ['thyroid'],
    'field spaniel': ['hips', 'heart', 'thyroid'],
    'spinone italiano': ['hips', 'thyroid'],
    'sussex spaniel': ['hips', 'elbows', 'metabolic'],
    'afghan hound': ['thyroid', 'dental'],
    'akita': ['hips', 'bloat'],
    'alaskan malamute': ['hips'],
    'anatolian shepherd dog': ['hips', 'thyroid'],
    'belgian tervuren': ['none'],
    'bernese mountain dog': ['hips', 'elbows', 'spine'],
    'bloodhound': ['hips', 'elbows', 'eyes', 'bloat'],
    'borzoi': ['thyroid'],
    'bouvier des flandres': ['hips'],
    'boxer': ['hips', 'spine', 'heart', 'thyroid', 'dental', 'bloat', 'allergies'],
    'briard': ['hips'],
    'bullmastiff': ['hips', 'elbows'],
    'canaan dog': ['none'],
    'chesapeake bay retriever': ['hips'],
    'chow chow': ['hips', 'elbows', 'eyes'],
    'clumber spaniel': ['hips', 'elbows', 'metabolic'],
    'curly coated retriever': ['hips'],
    'dobermann': ['heart', 'thyroid', 'bloat'],
    'english setter': ['hips', 'elbows', 'thyroid'],
    'english springer spaniel': ['hips', 'elbows'],
    'flat coated retriever': ['thyroid'],
    'german shepherd': ['hips', 'elbows', 'spine', 'bloat'],
    'german shorthaired pointer': ['thyroid'],
    'german wirehaired pointer': ['hips', 'thyroid'],
    'giant schnauzer': ['hips', 'thyroid', 'urinary'],
    'golden retriever': ['hips', 'elbows', 'skin', 'allergies'],
    'gordon setter': ['hips', 'elbows', 'eyes', 'dental', 'bloat'],
    'great dane': ['heart', 'hips', 'bloat'],
    'great pyrenees': ['hips', 'eyes'],
    'greater swiss mountain dog': ['hips', 'elbows', 'eyes', 'bleeding'],
    'greyhound': ['thyroid'],
    'irish red and white setter': ['thyroid'],
    'irish setter': ['hips', 'thyroid', 'bloat'],
    'irish water spaniel': ['hips', 'elbows', 'thyroid', 'heart'],
    'irish wolfhound': ['heart', 'elbows', 'respiratory', 'bloat'],
    'komondor': ['hips', 'spine'],
    'labrador': ['hips', 'elbows', 'liver', 'allergies'],
    'leonberger': ['hips', 'thyroid', 'neurological'],
    'mastiff': ['hips', 'elbows', 'eyes', 'spine', 'heart'],
    'newfoundland': ['hips', 'elbows', 'heart'],
    'nova scotia duck tolling retriever': ['eyes', 'heart', 'neurological', 'spine', 'kidney', 'thyroid', 'cleft palate'],
    'old english sheepdog': ['hips', 'thyroid', 'heart', 'bloat'],
    'otterhound': ['hips', 'elbows', 'bleeding'],
    'pharaoh hound': ['thyroid'],
    'pointer': ['thyroid'],
    'portuguese water dog': ['hips', 'spine', 'thyroid'],
    'rhodesian ridgeback': ['thyroid', 'spine'],
    'rottweiler': ['hips', 'elbows', 'thyroid'],
    'saint bernard': ['hips', 'elbows', 'bloat'],
    'saluki': ['heart', 'thyroid'],
    'samoyed': ['hips', 'thyroid'],
    'scottish deerhound': ['heart', 'liver', 'bloat'],
    'tibetan mastiff': ['hips', 'elbows', 'thyroid'],
    'vizsla': ['none'],
    'welsh springer spaniel': ['hips', 'thyroid'],
    'wirehaired pointing griffon': ['none']
}

In [23]:
#convert list of ailments to string
def list_to_string(lst):
    if isinstance(lst, list):
        return ', '.join(lst)
    else:
        return 'None'  # Handle cases where lst is None or not a list

In [24]:
df['genetic_ailments'] = df['Breed'].map(genetic_ailments).apply(list_to_string)

In [25]:
# Create a dictionary mapping breed to tier
breed_to_tier = {
    'affenpinscher': 1, 'australian terrier': 1, 'basenji': 1, 'bedlington terrier': 1, 'border terrier': 1,
    'boston terrier': 1, 'cairn terrier': 1, 'cesky terrier': 1, 'chihuahua': 1, 'chinese crested': 1,
    'dachshund': 1, 'dandie dinmont terrier': 1, 'english toy spaniel': 1, 'english toy terrier': 1, 
    'glen of imaal terrier': 1, 'havanese': 1, 'italian greyhound': 1, 'japanese chin': 1, 'maltese': 1, 
    'manchester terrier': 1, 'miniature schnauzer': 1, 'norfolk terrier': 1, 'papillon': 1, 'pekingese': 1, 
    'scottish terrier': 1, 'sealyham terrier': 1, 'shetland sheepdog': 1, 'shih tzu': 1, 'silky terrier': 1, 
    'skye terrier': 1, 'smooth fox terrier': 1, 'west highland white terrier': 1, 'wire fox terrier': 1, 
    'yorkshire terrier': 1, 'australian shepherd': 1, 'basset hound': 1, 'border collie': 1, 'cardigan welsh corgi': 1,
    'norwegian buhund': 1, 'pembroke welsh corgi': 1, 'swedish vallhund': 1, 'spinone italiano': 1, 'sussex spaniel': 1,
    'small mix': 1, 'medium mix': 1, 'brussels griffon': 2, 'cavalier king charles spaniel': 2, 'kerry blue terrier': 2, 
    'king charles spaniel': 2, 'miniature bull terrier': 2, 'petit basset griffon vendeen': 2, 'pomeranian': 2, 
    'australian cattle dog': 2, 'beagle': 2, 'brittany': 2, 'cocker spaniel': 2, 'finnish lapphund': 2, 
    'german pinscher': 2, 'irish terrier': 2, 'polish lowland sheepdog': 2, 'siberian husky': 2, 
    'soft coated wheaten terrier': 2, 'whippet': 2, 'bearded collie': 2, 'field spaniel': 2, 'afghan hound': 2, 
    'alaskan malamute': 2, 'borzoi': 2, 'bouvier des flandres': 2, 'briard': 2, 'canaan dog': 2, 'clumber spaniel': 2, 
    'curly coated retriever': 2, 'english setter': 2, 'english springer spaniel': 2, 'german shorthaired pointer': 2, 
    'german wirehaired pointer': 2, 'giant schnauzer': 2, 'gordon setter': 2, 'greyhound': 2, 'irish red and white setter': 2, 
    'irish setter': 2, 'irish water spaniel': 2, 'komondor': 2, 'nova scotia duck tolling retriever': 2, 'otterhound': 2, 
    'pharaoh hound': 2, 'pointer': 2, 'portuguese water dog': 2, 'saluki': 2, 'samoyed': 2, 'vizsla': 2, 
    'welsh springer spaniel': 2, 'wirehaired pointing griffon': 2, 'large mix': 2, 'pug': 3, 'bull terrier': 3, 
    'french bulldog': 3, 'staffordshire bull terrier': 3, 'airedale terrier': 3, 'akita': 3, 'anatolian shepherd dog': 3, 
    'belgian tervuren': 3, 'bernese mountain dog': 3, 'bloodhound': 3, 'bullmastiff': 3, 'chesapeake bay retriever': 3, 
    'chow chow': 3, 'flat coated retriever': 3, 'german shepherd': 3, 'golden retriever': 3, 'great dane': 3, 
    'great pyrenees': 3, 'greater swiss mountain dog': 3, 'irish wolfhound': 3, 'labrador': 3, 'leonberger': 3, 
    'mastiff': 3, 'newfoundland': 3, 'old english sheepdog': 3, 'saint bernard': 3, 'scottish deerhound': 3, 
    'tibetan mastiff': 3, 'boxer': 4, 'dobermann': 4, 'rhodesian ridgeback': 4, 'rottweiler': 4, 'mix small': 1, 'mix medium': 1, 
    'mix large': 2, 'american english coonhound': 2, 'italian spinone': 2
}

# Map the dict to the breed column
df['tier'] = df['Breed'].map(breed_to_tier)

# Add the health costs based on tier
tier_costs = {
    1: {'Cost_1_5': 64 * 12, 'Cost_6_7': 74 * 12, 'Cost_8_plus': 136 * 12},
    2: {'Cost_1_5': 72 * 12, 'Cost_6_7': 83 * 12, 'Cost_8_plus': 152 * 12},
    3: {'Cost_1_5': 90 * 12, 'Cost_6_7': 105 * 12, 'Cost_8_plus': 194 * 12},
    4: {'Cost_1_5': 103 * 12, 'Cost_6_7': 119 * 12, 'Cost_8_plus': 222 * 12}
}

df['Cost_1_5'] = df['tier'].map(lambda x: tier_costs[x]['Cost_1_5'] if pd.notna(x) else 0)
df['Cost_6_7'] = df['tier'].map(lambda x: tier_costs[x]['Cost_6_7'] if pd.notna(x) else 0)
df['Cost_8_plus'] = df['tier'].map(lambda x: tier_costs[x]['Cost_8_plus'] if pd.notna(x) else 0)

# Calculate the total health cost based on longevity
def calculate_total_cost(row):
    cost_1_5_years = row['Cost_1_5'] * min(row['longevity'], 5)
    cost_6_7_years = row['Cost_6_7'] * min(max(row['longevity'] - 5, 0), 2)
    cost_8_plus_years = row['Cost_8_plus'] * max(row['longevity'] - 7, 0)
    return cost_1_5_years + cost_6_7_years + cost_8_plus_years

df['health_insurance_cost'] = df.apply(calculate_total_cost, axis=1)

In [26]:
# size remapping
size_mapping = {'small': 1, 'medium': 2, 'large': 3}

df['size_category'] = df['size_category'].replace(size_mapping)

In [27]:
#create liability_insurance column
def liability_insurance(breed):
    if breed in ['bull terrier', 'staffordshire bull terrier']:
        return 20
    else:
        return 7

df['liability_insurance'] = df['Breed'].apply(liability_insurance)

In [28]:
#create dog_tax column
def dog_tax(breed):
    if breed in ['bull terrier', 'staffordshire bull terrier']:
        return 50
    else:
        return 10

df['dog_tax'] = df['Breed'].apply(dog_tax)

In [29]:
df[df['Breed'] == 'bull terrier'].head()

,Breed,longevity,grooming_required,size_category,intelligence_category,genetic_ailments,category,sensitivity_level,tolerates_being_alone,tolerates_cold_weather,tolerates_hot_weather,incredibly_kifriendly_dogs,dog_friendly,friendly_towarstrangers,potential_for_mouthiness,prey_drive,tendency_to_bark_or_howl,wanderlust_potential,exercise_needs,energy_level,gender,age,ailments_count,vet_cost,food_cost,tier,Cost_1_5,Cost_6_7,Cost_8_plus,health_insurance_cost,liability_insurance,dog_tax
40500,bull terrier,12.0,2,2,2,"hips, heart",Terrier Dogs,3,2,3,3,3,3,3,4,4,3,3,4,4,Male,13,2,238,872,3,1080,1260,2328,19560.0,20,50
40501,bull terrier,12.0,2,2,2,"hips, heart",Terrier Dogs,3,2,3,3,3,3,3,4,4,3,3,4,4,Female,16,2,238,872,3,1080,1260,2328,19560.0,20,50
40502,bull terrier,12.0,2,2,2,"hips, heart",Terrier Dogs,3,2,3,3,3,3,3,4,4,3,3,4,4,Male,13,2,238,872,3,1080,1260,2328,19560.0,20,50
40503,bull terrier,12.0,2,2,2,"hips, heart",Terrier Dogs,3,2,3,3,3,3,3,4,4,3,3,4,4,Female,16,2,238,872,3,1080,1260,2328,19560.0,20,50
40504,bull terrier,12.0,2,2,2,"hips, heart",Terrier Dogs,3,2,3,3,3,3,3,4,4,3,3,4,4,Female,16,2,238,872,3,1080,1260,2328,19560.0,20,50

In [30]:
# Severity mapping 
severity_map = {
    'hips': 5, 'kidney': 5, 'bloat': 5, 'heart': 5,
    'elbows': 4, 'eyes': 4, 'spine': 4, 'liver': 4,
    'neurological': 4, 'thyroid': 3, 'allergies': 3,
    'osteopathy': 3, 'bladder': 3, 'patella': 2,
    'breathing': 2, 'bleeding': 1, 'cleft palate': 1,
    'dental': 1
}

# Function to calculate severity score based on genetic_ailments
def calculate_severity(ailments):
    total_severity = 0
    ailments_list = [ailment.strip() for ailment in ailments.split(',')]
    for ailment in ailments_list:
        if ailment in severity_map:
            total_severity += severity_map[ailment]
    return total_severity

# Apply severity calculation to create a new column 'severity_score'
df['severity_score'] = df['genetic_ailments'].apply(calculate_severity)

In [31]:
df['severity_score'].unique()

array([ 5,  4,  8, 10,  0, 14,  2,  9,  6,  3, 13, 18, 12, 26,  1, 17, 19,
       15, 11, 16, 22,  7], dtype=int64)

In [32]:
# Create new columns for annual costs
df['liability_insurance_year'] = df['liability_insurance'] * 12
df['dog_tax_year'] = df['dog_tax'] * 12

In [33]:
# Create new column for annual health insurance cost
df['health_insurance_annual'] = (df['health_insurance_cost'] / df['longevity']).round(2)

In [34]:
df['gender'] = df['gender'].replace({'Male': 0, 'Female': 1})

In [35]:
df[df['Breed'] == 'affenpinscher'].head()

,Breed,longevity,grooming_required,size_category,intelligence_category,genetic_ailments,category,sensitivity_level,tolerates_being_alone,tolerates_cold_weather,tolerates_hot_weather,incredibly_kifriendly_dogs,dog_friendly,friendly_towarstrangers,potential_for_mouthiness,prey_drive,tendency_to_bark_or_howl,wanderlust_potential,exercise_needs,energy_level,gender,age,ailments_count,vet_cost,food_cost,tier,Cost_1_5,Cost_6_7,Cost_8_plus,health_insurance_cost,liability_insurance,dog_tax,severity_score,liability_insurance_year,dog_tax_year,health_insurance_annual
0,affenpinscher,12.0,2,1,4,hips,Companion Dogs,3,2,2,3,3,2,3,2,3,4,3,3,3,0,13,0,238,436,1,768,888,1632,13776.0,7,10,5,84,120,1148.0
1,affenpinscher,12.0,2,1,4,hips,Companion Dogs,3,2,2,3,3,2,3,2,3,4,3,3,3,1,13,0,238,436,1,768,888,1632,13776.0,7,10,5,84,120,1148.0
2,affenpinscher,12.0,2,1,4,hips,Companion Dogs,3,2,2,3,3,2,3,2,3,4,3,3,3,1,5,0,238,436,1,768,888,1632,13776.0,7,10,5,84,120,1148.0
3,affenpinscher,12.0,2,1,4,hips,Companion Dogs,3,2,2,3,3,2,3,2,3,4,3,3,3,0,13,0,238,436,1,768,888,1632,13776.0,7,10,5,84,120,1148.0
4,affenpinscher,12.0,2,1,4,hips,Companion Dogs,3,2,2,3,3,2,3,2,3,4,3,3,3,0,5,0,238,436,1,768,888,1632,13776.0,7,10,5,84,120,1148.0

In [36]:
df['tolerates_cold_weather'].unique()

array([2, 4, 5, 3, 1], dtype=int64)

In [37]:
# one hot encoding to transform category to numerical
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
category_encoded = encoder.fit_transform(df[['category']])
category_encoded_df = pd.DataFrame(category_encoded, columns=encoder.get_feature_names_out(['category']))
df = pd.concat([df, category_encoded_df], axis=1).drop(columns=['category'])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [38]:
df.loc[df['tolerates_cold_weather'] == 1, 'food_cost'] += 100

In [39]:
# Calculate yearly_final_cost (target)
df['yearly_final_cost'] = df['health_insurance_annual'] + df['dog_tax_year'] + \
                          df['liability_insurance_year'] + df['food_cost'] + df['vet_cost']

In [40]:
df.head()

,Breed,longevity,grooming_required,size_category,intelligence_category,genetic_ailments,sensitivity_level,tolerates_being_alone,tolerates_cold_weather,tolerates_hot_weather,incredibly_kifriendly_dogs,dog_friendly,friendly_towarstrangers,potential_for_mouthiness,prey_drive,tendency_to_bark_or_howl,wanderlust_potential,exercise_needs,energy_level,gender,age,ailments_count,vet_cost,food_cost,tier,Cost_1_5,Cost_6_7,Cost_8_plus,health_insurance_cost,liability_insurance,dog_tax,severity_score,liability_insurance_year,dog_tax_year,health_insurance_annual,category_Companion Dogs,category_Herding Dogs,category_Hound Dogs,category_Sporting Dogs,category_Terrier Dogs,category_Working Dogs,yearly_final_cost
0,affenpinscher,12.0,2,1,4,hips,3,2,2,3,3,2,3,2,3,4,3,3,3,0,13,0,238,436,1,768,888,1632,13776.0,7,10,5,84,120,1148.0,1.0,0.0,0.0,0.0,0.0,0.0,2026.0
1,affenpinscher,12.0,2,1,4,hips,3,2,2,3,3,2,3,2,3,4,3,3,3,1,13,0,238,436,1,768,888,1632,13776.0,7,10,5,84,120,1148.0,1.0,0.0,0.0,0.0,0.0,0.0,2026.0
2,affenpinscher,12.0,2,1,4,hips,3,2,2,3,3,2,3,2,3,4,3,3,3,1,5,0,238,436,1,768,888,1632,13776.0,7,10,5,84,120,1148.0,1.0,0.0,0.0,0.0,0.0,0.0,2026.0
3,affenpinscher,12.0,2,1,4,hips,3,2,2,3,3,2,3,2,3,4,3,3,3,0,13,0,238,436,1,768,888,1632,13776.0,7,10,5,84,120,1148.0,1.0,0.0,0.0,0.0,0.0,0.0,2026.0
4,affenpinscher,12.0,2,1,4,hips,3,2,2,3,3,2,3,2,3,4,3,3,3,0,5,0,238,436,1,768,888,1632,13776.0,7,10,5,84,120,1148.0,1.0,0.0,0.0,0.0,0.0,0.0,2026.0

In [41]:
# Save second_cleaning_df to a CSV file 
#df.to_csv('dogs_expenses_reviewed_bis.csv', index=False)
#df.to_csv('C:/Users/Vero/Desktop/dogs_expenses_reviewed_bis.csv', index=False)